#Home {
position: absolute;
width: 65px;
height: 18px;
left: 1100px;
top: 21px;
display: flex;
align-items: center;
text-align: center;
}
#Products {
position: absolute;
width: 65px;
height: 18px;
left: 1200px;
top: 21px;
display: flex;
align-items: center;
text-align: center;
}
#Services {
position: absolute;
width: 65px;
height: 18px;
left: 1300px;
top: 21px;
display: flex;
align-items: center;
text-align: center;
}
#Pricing {
position: absolute;
width: 80px;
height: 18px;
left: 1400px;
top: 21px;
display: flex;
align-items: center;
text-align: center;
}
h1 {
font-family: 'Brush Script MT', cursive;
text-align: center;
padding: 15px;
text-shadow: 2px 2px #dcdcdc;
}
p {
font-family: 'Courier New', monospace;
text-align: center;
padding: 15px;
}
form {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  background-image: url("../Kuvat/taustakuva.jpg");
  background-size: cover;
}
table,
th,
td {
  border: 1px solid white;
  text-align: left;
  padding: 5px;
}
th {
  background-color: rgb(229 229 247);
}
tr:nth-child(even) {
  background-color: #ffebe7;
}
tr:nth-child(odd) {
  background-color: rgb(235 249 255);
}
table {
  font-family: verdana;
  width: 60%;
  margin: auto;
}
.row {
background-color: #f9f9f9;
}
.container {
  position: relative;
}
#shadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #dcdcdc;
 }
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: 'Courier New', monospace;
  text-align: center;
}
#img2 { 
  width: 100%;
  height: auto;
  opacity: 0.4;
}
div.desc {
  padding: 5px;
  text-align: center;
}
.responsive {
  padding: 10px;
  float: left;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
}
a.highlight {
  font-size: 20px;
  color: black;
  padding: 10px;
  text-decoration: none;
  transition: 1s;
  margin: 700px;
}
a:hover {
  color: #988686;
  font-size: 17px;
}
